.idea
node_modules
dist
.vscode
.DS_Store
.env
# Logs
logs
npm-debug.log*
# Dependency directories
jspm_packages/
# Optional npm cache directory
.npm
# Data persistence
persistnt/
DataBase/persistent/
.docker-compose.yml.swp
